.projects {
    min-height: 100vh;
    padding: 50px;

    @media screen and (max-width:500px){
        padding: 30px;
    }
    
    h1 {
        font-size: 3rem;

        @media screen and (max-width: 500px){
            font-size: 2rem;
        }
    }
    .container {
        display: flex;
        flex-flow: row wrap;
        min-height: 500px;
         div.card { 
             background: #c7c1c1b5; 
             flex: 1 1 300px;
             margin: 20px;
             height: 300px;
             transition: all 0.25s ease-in-out;
             position: relative;
             cursor: pointer;

             &:hover {
                 transform: translateY(-10px);
                 box-shadow:  11px 11px 22px #eee, 
             -11px -11px 22px #eee;
             }
             
             header {
                 width: 100%;
                 height: 70%;
                 color: white;
                 position: relative;
                 img {
                     height: 100%;
                     width: 100%;
                     margin-bottom: 0px;

                 }
                 h3 {
                     color: white;
                     position: absolute;
                     top: 0;
                 }

             }
             footer {
                 min-height: 30%;
                 padding-left: 30px;
                 padding-top: 20px;
                 position: relative;
                h4 {
                    margin-bottom: 5px;
                    display: inline-block;
                    a {
                        margin-right: 5px;
                    }
                }
                
                 a {
                     color: black;
                 }
                 .check { 
                     opacity: 0;
                     @media screen and (max-width:500px){
                        opacity: 1;
                    }
                    }
                 .links {
                     position: relative;
                     margin-left: 10px;
                    &:after {
                        position: absolute;
                        content: "";
                        background: rgba(0, 0, 0, .2);
                        height: 15px;
                        width: 10px;
                        bottom: 0;
                        right: 0;
                    }
                 }
                
             }
            
             @media screen and (max-width:500px){
                 margin: 20px 0px;
             }
            }
        
        }

        button {
            width: 10rem;
            text-transform: uppercase;
            border: 1px solid red;
            cursor: pointer;
            padding: 10px;
            font-size: .7rem;
            background: transparent;
            position: relative;
            transition: all 0.25s ease-in-out;
            overflow: hidden;
            display: none;

            &::before {
                position: absolute;
                content: "";
                width: 100%;
                transform: translateX(-200px);
                height: 100%;
                background: red;
                top: 0;
                left: 0;
                z-index: -1;
                transition: all 0.25s ease-in-out;

            }

            &:hover, &:focus-within {
                color: white;
                &::before {
                    transform: translateX(0px);
                }
            }
            
        }

        @media screen and (max-width: 500px) {
            .card:nth-child(4), .card:nth-child(5), .card:nth-child(6) {
                display: none;
            }
            button {
                display: block;
            }
        }
        
}