$green: #197278;
$darkgreen: #283d3b;
$brown: #eaeaee;
$creamy: #b0b0bb;
$creamywhite: #f8f8f9;
$dark: #222228;
.projects {
    min-height: 100vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background: transparent;
    justify-content: center;

    @media screen and (max-width:500px){
        padding: 30px;
    }
    
    h1 {
        font-size: 3rem;
        color: var(--textTitle);
        align-self: center;

        @media screen and (max-width: 500px){
            font-size: 2rem;
        }
    }
    p {
        color: var(textNormal);
        align-self: center;
        text-align: center;
    }
    .container {
        display: flex;
        flex-flow: row wrap;
        min-height: 500px;
        justify-content: center;
         div.card { 
            display: flex;
            flex-direction: column;
            justify-content: center;
             flex-basis: 400px;
             margin-bottom: 40px;
             min-height: 400px;
             padding: 40px;
             transition: all 0.50s ease-in-out;
             position: relative;
             cursor: pointer;
             
             h1, p {
                 color: white;
                 align-self: start;
                 font-family: 'Quattrocento Sans',sans-serif;
             }
             p {
                 background-color: rgba(0,0,0,.1);
                 padding: 5px;
                 
             }
             &:hover {
                 transform: translateY(-10px);
            background: linear-gradient(145deg, black, black) !important;
            box-shadow: inset 20px 20px 70px rgba(0,0,0,.1), 
            inset -20px -20px 70px rgba(0,0,0,.1);
             }
            
             @media screen and (max-width:500px){
                min-height: 300px;
             }

             &:nth-child(1) {
                 background: #C44536;
             }
             &:nth-child(2) {
                background: #772E25;
            }
            &:nth-child(3) {
                background: #197278;
            }
            &:nth-child(4) {
                background: #197278;
            }
            &:nth-child(5) {
                background: #C44536;
            }
            &:nth-child(6) {
                background: #772E25;
            }
            }

            .image-links {
                display: flex;
                position: absolute;
                bottom: 20px;
                * {
                    width: 30px;
                    &:nth-child(2) {
                        left: 20px;
                    }
                }
            }
        
        }

        button {
            width: 10rem;
            text-transform: uppercase;
            border: 1px solid red;
            cursor: pointer;
            padding: 10px;
            font-size: .7rem;
            background: transparent;
            position: relative;
            transition: all 0.25s ease-in-out;
            overflow: hidden;
            display: none;

            &::before {
                position: absolute;
                content: "";
                width: 100%;
                transform: translateX(-200px);
                height: 100%;
                background: red;
                top: 0;
                left: 0;
                z-index: -1;
                transition: all 0.25s ease-in-out;

            }

            &:hover, &:focus-within {
                color: white;
                &::before {
                    transform: translateX(0px);
                }
            }
            
        }
        
}