.more {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: brown;
    padding: 30px;
    * {
        flex: 1 1 250px;
        margin: 10px;
    }
    div {
        // background: tomato;
        h1 {
            color: tomato;
        }
        p {
            color: #fff;
        }
    }
    .abstract-image {
        position: absolute;
        bottom: 0;
        width: 100px;
        // z-index: -2;
    }
}