$creamy: #FEF5F0;
$dark: #4c4c55;
$brown: #772e25;

.more {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 400px;
    align-items: center;
    justify-content: center;
    background-color: $creamy;
    padding: 30px;
    * {
        flex: 1 1 250px;
        margin: 10px;
    }
    div {
        // background: tomato;
        h1 {
            color: $brown;
            font-size: 3rem;

            @media screen and (max-width: 500px){
                font-size: 2rem;
            }
        }
        p {
            color: $dark;
        }
    }
    .abstract-image {
        position: absolute;
        bottom: 0;
        width: 100px;
        // z-index: -2;
    }
}