.header {
    height: auto;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    /* background: red; */
}

.header .nav {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-areas: 
        "logo . . . . . . . . . . . themeToggler hamburger"; 
    justify-content: center;
    padding: 20px;
}

.header .logo {
    grid-area: logo;
    justify-self: end;
    background: black;
    color: white;
    padding: 10px;
    align-self: center;
    /* box-shadow:  20px -20px 27px #387aa0, 
             -20px 20px 27px #72f8ff; */
}

.header .themeToggler {
    grid-area: themeToggler;
    justify-self: end;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    /* position: absolute;
    right: 110px;
    z-index: 1000; */
}

.header .themeToggler > * {
    width: 25px;
    transition: 300ms all ease-in-out;
    
}

.header .themeToggler:hover > * {
    transform: rotate(180deg);
}

.header .hamburger {
    /* background: white; */
    border-radius: 50%;
    grid-area: hamburger;
    align-self: center;
    justify-self: start;
    transition: 300ms all ease-in-out;
    cursor: pointer;
    padding: 10px;
    /* position: absolute;
    right: 70px;
    z-index: 1000; */
}

/* @media screen and (min-width: 1000px) {
    .header .hamburger {
        right: 70px;
    }
    .header .themeToggler {
        right: 110px;
    }
} */


.header .hamburger div {
    width: 25px;
  	height: 2px;
  	background-color: black;
     margin: 4px 0;
     cursor: pointer;
     transition: width 0.125s ease-in-out, top 0.25s ease-in-out 0.5s, transform 0.25s ease-out 0.25s, opacity 0.001s linear 0.5s, background-color 0.25s linear;
}

.hamburger div:nth-child(1), 
.hamburger div:nth-child(2), 
.hamburger:hover div {
    width: 24px;
}


.header .hamburger div:nth-child(3) {
    width: 15px;
  	height: 2px;
 	margin: 4px 0;
}

.header .hamburger:focus > div:nth-child(3) {
    width: 24px; 
    opacity: 0;
} 

.header .hamburger:focus > div:nth-child(1) {
    transform: translateY(6px) rotate(50deg);
}

.header .hamburger:focus > div:nth-child(2) {
    transform:rotate(-50deg);
    
}


.header .navToggle {
    background: tomato;
    position: fixed;
    height: 100vh;
    /* clip-path: polygon(26% 0, 100% 0, 100% 100%, 0% 100%); */
    right: 0;
    width: 35vw;
    transform: translateX(1000px);
    z-index: -1;
    top: 0;
    padding: 20px;
}

@media screen and (max-width: 980px) {
    .header .navToggle {
        width: 70vw;
    }
}

@media screen and (max-width: 500px) {
    .header .navToggle {
        width: 100vw;
    }
    .header .navToggle ul li{
        margin-bottom: 30px;
    }
}


.header .navToggle {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    " link . . . . social ";
}

.header .navToggle .link {
    /* background: tomato; */
    grid-area: link;
    align-self: center;
    justify-self: start;
}

.header .navToggle .link li {
    list-style-type: none;
}

.header .navToggle .link li > a {
    color: black;
    text-decoration: none;
    font-size: 3.5rem;
    position: relative;
}

.header .navToggle .link li > .social {
    display: flex;
    justify-content: space-between;
}

.header .navToggle .link li > .social > a{
    text-decoration: none;
    color: #000;
    position: relative;
}


.header .navToggle .link li > .social a::after {
    content: '';
    display: inline-block;
    background: rgb(255, 255, 255);
    height: 0px;
    width: 70%;
    position: absolute;
    left: -8px;
    right: -12px;
    bottom: -1px;
    opacity: 0.1;
    transition: 0.25s all ease-in-out;
}

.header .navToggle .link li > a::after {
    content: '';
    display: block;
    background: rgb(255, 255, 255);
    height: 0px;
    position: absolute;
    left: -8px;
    right: -12px;
    bottom: -1px;
    opacity: 0.1;
    transition: height 0.25s ease, opacity 0.25s ease;
}

.header .navToggle .link li a:hover::after {
    height: 27px;
    opacity: 0.15;
}
.header .navToggle .close {
    background: rgba(0,0,0,.5);
    grid-area: social;
    justify-self: end;
    width: 100%;
    padding: 30px 10px 0px 10px;
}

.header .navToggle .close > div {
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header .navToggle .close > div > * {
    width: 20px;
    font-weight: bold;
}


