.banner {
   position: relative;
   background: #fff;
   display: flex;
   justify-content: center;
   width: 100%;
   min-height: 100vh;
   z-index: -100;
    
}


 .banner > .scroll {
    position: absolute;
    font-size: 15px;
    bottom: 20px;
    width: 20px;
    height: 40px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-self: center;
    align-items: center;
    background: tomato;
    border-radius: 20px;
}

.banner > .scroll .scroller{ 
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    margin: auto;
    animation: bounce 800ms cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
}


 .banner > .scroll > * { 
    transform: rotate(90deg);
    width: 15px;
    margin-bottom: 8px;
    margin-left: 2px;
    
}

@keyframes bounce {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }

}


 .banner div.bannerText {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    z-index: 1000;
    color: black;
    /* background: red; */
    width: 90%;
}

.banner div.bannerText > * {
    margin: auto;
}
.banner div.bannerText > h1.bannerTextHeading {
    font-size: 7rem;
    font-weight: bolder;
    position: relative;
    display: flex;
    justify-self: center;
}

.banner div.bannerText > h1.bannerTextHeading span.dot {
    background: tomato;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 20px;
    align-self: flex-end;
}

.banner div.bannerText > h4 {
    margin-top: 5px;
    margin-bottom: 30px;

}

.banner div.bannerText > .bannerTextSection {
    display: flex;
    justify-content: space-between;
    width: 500px;
    align-items: center;
}

.banner div.bannerText > .bannerTextSection p {
    margin-left: 20px;
}

@media screen and (max-width: 600px) {
    .banner div.bannerText > h1.bannerTextHeading {
        font-size: 5.5rem;
    }
    .banner div.bannerText > h1.bannerTextHeading span.dot {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 526px) {
    .banner div.bannerText > .bannerTextSection {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .banner div.bannerText > h1.bannerTextHeading {
        font-size: 4.5rem;
    }
}



