.banner {
    width: 90%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "section1  section2";
    position: relative;
    margin: auto;
    
}

.banner section:nth-child(1) {
    background: tomato;
    grid-area: section1;
    height: auto;
    position: relative;
}

.banner section:nth-child(1) > .scroll{
    position: absolute;
    right: 0;
    transform: rotate(-90deg);
    bottom: 40px;
    color: white;
    display: flex;
}

.banner section:nth-child(1) > .scroll > div:nth-child(1) {
    width: 20px;
    fill: white;
}

.banner section:nth-child(2) {
    background: #fff;
    grid-area: section2;
    height: auto;
}

.banner h1 {
    position: absolute;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    font-size: 7rem;
    font-weight: bolder;
    z-index: 1000;
    color: black;
}

.banner h1 > div:nth-child(2) {
    margin-top: -35px;
    display: flex;
    padding: 0;
    flex-direction: row;
    align-self: flex-end;
}

.banner h1 > div:nth-child(2) > span.dot {
    background: tomato;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-self: flex-end;
    margin-bottom: 30px;
    margin-left: 10px;
}

